#h2-mySkills {
    color: #2196F3;
}

h3 {
    color: #2195f360;
}

p {
    line-height: 2;
    max-width: 1000px;
    padding: 0rem 2rem;
    text-align: center;
}

.cdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.progress-loader {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 150px;
    background: rgba(236, 236, 238, 0.253);
    height: 10px;
    border-radius: 7px;
}

.progress {
    width: 1px;
    height: 10px;
    border-radius: 7px;
    background: rgb(255, 255, 255);
    transition: 0.5s;
    animation: loading_44 4s cubic-bezier(.4, 1.01, 1, 1) infinite;
}

